body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: repeating-conic-gradient(#ccc 0% 25%, transparent 0% 50%) 0 0 / 20px 20px;
}

.menu-bar {
  width: 600px;
  margin: 10px auto;
  border: 2px solid #333;
  background: rgb(223, 191, 191);
  font-family: 'Courier New', monospace;
}

.menu-bar .window-header {
  display: flex;
  align-items: center;
  background: #333;
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  justify-content: flex-start;
  position: relative;
}

.menu-bar .dot {
  margin-right: 4px;
}

.menu-bar .menu-body {
  background: white;
  padding: 10px;
  border-top: 2px solid #999;
  text-align: center;
  font-weight: bold;
  color: #421e1e;
}

.app-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.window-frame {
  border: 2px solid #333;
  background: rgb(223, 223, 223);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 600px;
}

.window-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 10px;
  background: #333;
  color: white;
  font-size: 14px;
  justify-content: flex-start;
}

.window-header .dot {
  margin-right: 4px;
}

.window-header .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

.red { background-color: #f31d12; }
.yellow { background-color: #ffbd2e; }
.green { background-color: #27c93f; }

.tools {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.color-btn {
  width: 24px;
  height: 24px;
  border: 1px solid #dedede;
  cursor: pointer;
}

canvas {
  border: 1px solid #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}

.gallery-scroll-wrapper {
  height: 80vh;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

#gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.gallery-item {
  border: 1px solid #dedede;
  padding: 5px;
  background: #dedede;
  width: 260px;
}

.gallery-item img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.vote-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

button {
  font-family: monospace;
  font-size: 12px;
  padding: 2px 6px;
  cursor: pointer;
}

.admin-login-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #333;
  color: white;
  padding: 5px 10px;
  font-family: monospace;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
}
